@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply bg-mixed-a0 text-foreground;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 220 15% 12%;
    --foreground: 0 0% 98%;
    --card: 220 15% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 220 15% 20%;
    --popover-foreground: 0 0% 98%;
    --primary: 220 40% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 30%;
    --muted-foreground: 0 0% 70%;
    --accent: 210 35% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 60% 40%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 210 35% 40%;
    --chart-1: 220 60% 50%;
    --chart-2: 210 45% 40%;
    --chart-3: 200 40% 35%;
    --chart-4: 190 35% 30%;
    --chart-5: 180 30% 25%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 220 15% 10%;
    --foreground: 0 0% 98%;
    --card: 220 15% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 220 15% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 220 40% 25%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 14%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 18%;
    --muted-foreground: 0 0% 60%;
    --accent: 210 35% 40%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14%;
    --input: 0 0% 14%;
    --ring: 210 35% 40%;

    --chart-1: #4a5dff;
    --chart-2: #3a4aff;
    --chart-3: #295fff;
    --chart-4: #2976ff;
    --chart-5: #268cff;


  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}